<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" >
    <h:head>
        <title>Manage products</title>
    </h:head>
    <h:body>
     <f:view>
        <h:link value = "Search a product" outcome = "searchproduct" /><br/> 
        <h:link value = "List products" outcome = "listproducts" /><br/> 
        <h:form>
           <h:outputLabel value="Productname: "/><h:inputText value="#{ProductView.product.name}"/>
           <h:outputLabel value="Category "/><h:inputText value="#{ProductView.product.category}"/>
            <h:commandButton action="#{ProductView.postProduct}" value="Add current product"/>
            <img src="bike.png" />
        </h:form>
    </f:view>
    </h:body>
</html>

