<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>List all products</title>
    </h:head>
    <h:body>
        <h:panelGroup rendered="#{ProductView.product.id != null}">
            <h:outputLabel value="You now added: " /><h:outputText value="#{ProductView.product.name}"/><br/>
            <h:outputLabel value="In the category: "/><h:outputText value="#{ProductView.product.category}"/><br/><br/>
        </h:panelGroup>
        <h:outputLabel value="The total number of products is: "/><h:outputText value="#{ProductView.numberOfProducts}"/><br/><br/>
        <h:form>
            <ui:repeat value="#{ProductView.allProducts}" var="item">
                <b><h:outputLabel value="Prouct-ID: "/><h:outputText value="#{item.id}" /></b><br/>
                <h:outputLabel value="Prouct-name: "/><h:outputText value="#{item.name}" /><br/>
                <h:outputLabel value="Prouct-category: "/><h:outputText value="#{item.category}" /><br/>
                <br/>
            </ui:repeat>
        </h:form>
    </h:body>
</html>

