<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:outputLabel value="The total number of products found was: "/><h:outputText value="#{ProductView.getAllFreeTextProducts().size()}"/><br/>
           <h:outputText value="Result: " /><br/>
                
       <h:form>
           <ui:repeat value="#{ProductView.getAllFreeTextProducts()}" var="itemsearch">
                <b><h:outputLabel value="Prouct-ID: "/><h:outputText value="#{itemsearch.id}" /></b><br/>
                <h:outputLabel value="Prouct-name: "/><h:outputText value="#{itemsearch.name}" /><br/>
                <h:outputLabel value="Prouct-category: "/><h:outputText value="#{itemsearch.category}" /><br/>
            </ui:repeat>       
                </h:form>
   
       
    </h:body>
</html>

