<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" >
    <h:head>
        <title>Search for product</title>
    </h:head>
    <h:body>
     <f:view>
        <h:form>
            <h:outputLabel value="Productname: "/><h:inputText value="#{ProductView.searchString}"/>           
            <h:commandButton action="#{ProductView.searchProduct}" value="Search"/>
        </h:form>
    </f:view>
    </h:body>
</html>

